.header{
    font-size: 45px;
    padding: 10px;
    height: 5rem;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color:skyblue;
    overflow: hidden;
}

.header img{
    max-width: 5em;
    max-height: 1.5em;
    margin-left: 1em;
}