.card{
   width: 18em;
   box-shadow: 0 1em 1em 0 black;
   text-align: center;
   height: 22em;
   background-color: transparent;
   border-radius: 1em;
   display: inline-block;
   margin: 1em;
}

.container{
    background-color: transparent;
}

.cardImage{
    max-width: 8em;
    max-height: 8em;
    height: unset !important;
}

.cardTitle{
    max-height: 1rem !important;
}

.cardTagline{
    height: unset !important;
    max-width: 15em;
}
.cardActions{
    overflow: hidden;
}

.cardActionsLeft{
    float: left;
    max-width: 10em;
}
.cardActionsRight{
    float: right;
    max-width: 10em;
}
.cardDescription{
    text-align: center;
    align-content: center;
    align-items: center;
}