.card{
   max-width: 250px;
   box-shadow: 0 4em 8em 0 black;
   text-align: center;
   height: 15em;
   background-color: transparent;
   border-radius: 1em;
   display: inline-block;
}

.container{
    padding: 2px 16px;
    background-color: transparent;
}

