.navigation{
    background-color: blue;
    overflow: hidden;
    height: 3rem;
    width: 100%;
}


/* Style the links inside the navigation bar */
.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;   
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: blueviolet;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color:purple;
    color: white;
}